In [2]:
import pandas as pd

In [3]:
pd.read_csv('NFL_dataset.csv')

,year,Tm,W,L,T,W-L%,PF,PA,PD,MoV,SoS,SRS,OSRS,DSRS
0,2022,Buffalo Bills*,13,3,0,0.813,455,286,169,10.6,0.4,10.9,7.1,3.8
1,2022,Miami Dolphins+,9,8,0,0.529,397,399,-2,-0.1,2.0,1.8,2.7,-0.9
2,2022,New England Patriots,8,9,0,0.471,364,347,17,1.0,1.0,2.0,-0.3,2.3
3,2022,New York Jets,7,10,0,0.412,296,316,-20,-1.2,2.0,0.8,-4.0,4.8
4,2022,Cincinnati Bengals*,12,4,0,0.750,418,322,96,6.0,0.9,6.9,5.5,1.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,2002,Carolina Panthers,7,9,0,0.438,258,302,-44,-2.8,-0.5,-3.3,-6.0,2.8
668,2002,San Francisco 49ers*,10,6,0,0.625,367,351,16,1.0,-0.4,0.6,0.7,-0.1
669,2002,St. Louis Rams,7,9,0,0.438,316,369,-53,-3.3,0.0,-3.3,-1.6,-1.8
670,2002,Seattle Seahawks,7,9,0,0.438,355,369,-14,-0.9,-0.4,-1.3,0.0,-1.2
671,2002,Arizona Cardinals,5,11,0,0.313,262,417,-155,-9.7,-0.2,-9.9,-5.4,-4.5